//mixins
@mixin customButton($width,$heigth,$borderRadius,$bg){
    width: $width;
    height: $heigth;
    border-radius: $borderRadius;
    border: 0px;
    cursor: pointer;
    background-color: $bg;    
}
//Formato de las cartas
.card{
    display: flex;
    justify-self: center;
    transition:0.5s ease-in-out;
    max-width: 380px;
    max-height: 640px;
    padding:2rem;
    margin-top: 3rem;
    background-color: $color-bg-card;
    border-radius: 20px;
    box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.37);
    h3{
        background-color: $color-bg-card;
    }    
    .img-btn{
        position:relative;
        img{
            width:100%;       
            transition:0.3s ease-in-out;
            border-radius: 2%;
            cursor: zoom-in;   
        }
        
        .btn-cart{
            position: absolute;
            top: 89%;
            left: 89%;
            height: 31px;
            width: 31px;
            border-radius: 20%;
        }               
    }

    .desc{  
        margin-top: 2rem;      
        font-size: smaller;
        background-color: $color-bg-card;        
        p{
            background-color: $color-bg-card;
        }        
    }

    .card-footer{
        background-color: $color-bg-card;
        display:flex;        
        justify-content: space-around;
        .price{
            background-color: $color-bg-card;
        }
        .btn-quit{
            @include customButton(31px,31px,18%,$color-btn-card);
            transition: 0.5s ease-in-out;
            i{
                font-size: xx-large;
                background-color: transparent;
                line-height: 29px; 
            }
        }
        .btn-quit:hover{
            background-color: rgba(236, 17, 17, 0.945);           
            i{
                text-shadow: -3px 2px 4px black;
            }
        }
        .cant{
            background-color: $color-bg-card;
        }
        .btn-add{
            @include customButton(31px,31px,18%,$color-btn-card);
            transition: 0.5s ease-in-out;
            i{
                font-size: xx-large;
                background-color: transparent;
                line-height: 29px;
            }
        }
        .btn-add:hover{
            background-color: rgba(0, 199, 0, 0.932);
            i{
                text-shadow: -3px 2px 4px black;
            }
        }
    }
}
.card:hover{    
    img{
        border-radius: 2%;
        box-shadow: 0px 0px 15px 4.5px ;       
    }
    .desc{
        font-weight: 500;        
    }
}

//Card del carrito
.card-cart{    
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-height: 6rem;
    max-width: 95%;    
    background-color: $color-bg-Ccart;
    border-radius: 10px;
    box-shadow: -11px 10px 5px 0px rgba(0,0,0,0.37);    
    margin-left: 2%;    
    h3{
        background-color: $color-bg-Ccart;
    }    
    img{
        width:5.3rem;        
        border-radius: 1rem;   
    }
                    
    

    .desc{
        max-width: 50%;                   
        font-size: medium;
        background-color: $color-bg-Ccart;   
        border-left:solid 2px;     
        padding-left: 2rem;
        p{           
            background-color: $color-bg-Ccart;
            margin-bottom: 0;
        }        
    }

    .card-footer{        
        width: 17rem;
        background-color: $color-bg-Ccart;
        display:flex;        
        justify-content: space-around;
        align-items: center;     
        padding-left: 1rem;
        border-left:solid 2px;   
        .price{
            background-color: $color-bg-Ccart;
            font-size: 1.5rem;
            margin:1rem;
        }
        .btn-quit{
            @include customButton(31px,31px,18%,$color-btn-card);
            transition:0.5s ease-in-out;
            i{
                font-size: xx-large;
                background-color: transparent;
                line-height: 29px; 
            }
        }
        .btn-quit:hover{
            background-color: rgba(236, 17, 17, 0.945);           
            i{
                text-shadow: -3px 2px 4px black;
            }
        }
        .cant{
            background-color: $color-bg-Ccart;   
            margin-bottom: 0;                     
        }
        .btn-add{
            @include customButton(31px,31px,18%,$color-btn-card);
            transition:0.5s ease-in-out;
            i{
                font-size: xx-large;
                background-color: transparent;
                line-height: 29px; 
            }
        }
        .btn-add:hover{
            background-color: rgba(0, 199, 0, 0.932);
            i{
                text-shadow: -3px 2px 4px black;
            }
        }
        .btn-delete{
            width: 31px;
            height: 31px;
            border-radius: 18%;            
            cursor: pointer;            
            transition: 0.5s ease-in-out;
            i{
                transition: 0.5s ease-in-out;
            }
        }
        .btn-delete:hover{
            background-color: rgba(236, 17, 17, 0.897);           
            i{
                text-shadow: -3px 2px 4px black;
                background-color: rgba(236, 17, 17, 0.897);                  
                font-weight: 700;
            }
        }
    }
}
//Modal con imagenes
.modalContainer{
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .carousel{
                        .carousel-inner{                            
                            align-content: center;
                            height: 25rem;
                            .carousel-item{
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                    max-height: 25rem;
                                }                                
                            }                            
                        }
                        .carousel-control-prev{
                            .carousel-control-prev-icon{
                                background-color: black;
                                border-radius: 20%;
                            }
                        }
                        .carousel-control-next{
                            .carousel-control-next-icon{
                                background-color: black;
                                border-radius: 20%;
                            }
                        }
                    }
                }
            }
        }
    }
}

