//FOOTER DE LA WEB
.pie{
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding:1rem;
    padding-left: 5rem;
    background-color: $color-bg-footer;
    .icon{
        font-size: 1.5rem;
        color:#ffffff;
        background-color: $color-bg-footer;  
             
        a{                  
            text-decoration: none;
            color:white;
            i{
                transition: 0.5s ease-in-out;
                background-color: $color-bg-footer;
            }            
        }        
    }
    .icon:hover{       
        a{
           
            i{
                text-shadow: -7px 2px 3px rgb(255, 255, 255);
                color:white ;
                font-size: 1.55rem;                              
            }
        }
    }
    .wpp ,.insta,.facebook {           
        margin-left: 3rem;
    }
    .derechos{        
        margin-left: 7rem;
    }
}
@media screen and (min-width:320px) and (max-width:480px){
    .pie{
        width: 100vw;
        padding-left: 0;
        align-items: center;
        .wpp ,.insta,.facebook {           
            margin-left: 1rem;
        }
        .derechos{        
            margin-left: 2rem;
        }
    }
    
}
@media screen and (min-width:480px) {
    .pie{
        padding-left: 0;
        align-items: center;
        .wpp ,.insta,.facebook {           
            margin-left: 2rem;
        }
        .derechos{        
            margin-left: 2rem;
        }
    }
}