.cont-register{
    display: flex;
    margin:2rem;
    flex-direction: column;    
    align-items: center;    
    flex-wrap: nowrap;
    margin-top: 1rem;    
    .register{
       h2{
            font-size: 2.5rem;
            text-align: center;
       }

       .form-register{        
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;            
            margin: 2rem;
            margin-top:1.5rem;
            label{
                font-size: 1.5rem;                                             
            }
            input{
                margin-bottom: 2.5rem;
                width: 22rem;                
                border-radius: 0.8rem;
                border-style: initial;
                background-color: aliceblue;                  
                text-indent: 1.2rem;
                font-size: 1rem;            
            }
            button{
                margin:2rem;                
                font-size: 1.2rem;
                color: white;
                width: 15rem;                
                background-color: blue;
                border-radius: 0.5rem;
                border: none;
                box-shadow: 3.5px 3px 12px black;
            }
       }
    }
}
@media screen and (min-width:320px){
    .cont-register{
        .register{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin-top: 1rem;           
            .form-register{
                input{
                    width: 90%;
                    padding:0.6rem;                    
                }
                button{
                    padding: 0.6rem;
                }
            }
        }
    }
    
}
@media screen and (min-width:480px) {
    .cont-register{
        .register{
            width: 90%;
            .form-register{
                width: 90%;
                button{
                    width: 80%;
                }
            }
        }        
    }    
}
@media screen and (min-width:628px) {
    .cont-register{
        .register{            
            .form-register{                
                button{
                    width: 70%;
                }
            }
        }      
    }   
}
@media screen and (min-width:960px) {
    .cont-register{
        .register{
            width: 60%;            
            .form-register{                              
                button{
                    width: 60%;
                }
            }
        }       
    }  
}
@media screen and (min-width:1024px) {
    .cont-register{
        .register{            
            .form-register{                
                input{
                    width: 30rem;
                }
                button{
                    width: 20rem;
                }
            }
        }       
    }    
}