.navbar{
    display: flex;
    flex-direction: column;
    background-color: black;    
    .container-fluid.cart{
        display: flex;
        justify-content: flex-end;
        background-color: black;
        border-bottom: solid ;
        border-color: white;
        a{
            background-color: black;
            margin-right: 2rem;           
            i{
                font-size: 1.5rem;
                color: white;
                background-color: black;
                transition: 0.2s ease-in-out;
            }
        }
        a:hover{            
            i{
                color:black;//prueba
                background-color: white;
                border-radius: 20%;                
            }
            
        }
    }   
    .container-fluid.nav{
        background-color: $color-bg-head;
        height: 4.5rem;
        .navbar-brand{
            background-color: $color-bg-head;
            padding-top: 0;
            margin-left: 4rem;
            .logo{
                width: 4rem;
                border-radius: 1rem;                
            }
        }   
       .collapse.navbar-collapse{
            background-color: $color-bg-head;
            justify-content: center;            
            .navbar-nav{
                background-color: $color-bg-head;
                        
                .nav-item{
                    background-color: $color-bg-head;
                    align-self: center;
                    margin-right: 5rem;
                    a{     
                        transition: 0.15s;                  
                        color: black;
                        font-size: 1.7rem;
                        font-weight: 500;                        
                    }
                    a:hover{
                        border-bottom: solid 2px;
                        color: rgb(255, 255, 255);
                        text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.925);
                    }
                }
                    
            }
       }
    } 
}