.navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.navbar .container-fluid.cart {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  border-bottom: solid;
  border-color: white;
}
.navbar .container-fluid.cart a {
  background-color: black;
  margin-right: 2rem;
}
.navbar .container-fluid.cart a i {
  font-size: 1.5rem;
  color: white;
  background-color: black;
  transition: 0.2s ease-in-out;
}
.navbar .container-fluid.cart a:hover i {
  color: black;
  background-color: white;
  border-radius: 20%;
}
.navbar .container-fluid.nav {
  background-color: Darkturquoise;
  height: 4.5rem;
}
.navbar .container-fluid.nav .navbar-brand {
  background-color: Darkturquoise;
  padding-top: 0;
  margin-left: 4rem;
}
.navbar .container-fluid.nav .navbar-brand .logo {
  width: 4rem;
  border-radius: 1rem;
}
.navbar .container-fluid.nav .collapse.navbar-collapse {
  background-color: Darkturquoise;
  justify-content: center;
}
.navbar .container-fluid.nav .collapse.navbar-collapse .navbar-nav {
  background-color: Darkturquoise;
}
.navbar .container-fluid.nav .collapse.navbar-collapse .navbar-nav .nav-item {
  background-color: Darkturquoise;
  align-self: center;
  margin-right: 5rem;
}
.navbar .container-fluid.nav .collapse.navbar-collapse .navbar-nav .nav-item a {
  transition: 0.15s;
  color: black;
  font-size: 1.7rem;
  font-weight: 500;
}
.navbar .container-fluid.nav .collapse.navbar-collapse .navbar-nav .nav-item a:hover {
  border-bottom: solid 2px;
  color: rgb(255, 255, 255);
  text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.925);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 5rem;
  grid-auto-flow: column wrap;
  margin: 3rem;
  margin-top: 9rem;
}

.container-cart {
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  margin-top: 9rem;
  margin-bottom: 1rem;
}
.container-cart .cont-cart {
  display: grid;
  grid-column: 1;
  grid-row-gap: 1.5rem;
}
.container-cart .container-total {
  display: grid;
  grid-column: 2;
}
.container-cart .container-total .total {
  display: flex;
  border-radius: 15px;
  box-shadow: -11px 10px 5px 0px rgba(0, 0, 0, 0.37);
  background-color: darkturquoise;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  margin-right: 1rem;
  position: sticky;
  border: solid 2px;
  top: 8rem;
}
.container-cart .container-total .total h2 {
  padding: 1rem;
  background-color: darkturquoise;
  border-bottom: solid;
}
.container-cart .container-total .total .item {
  background-color: darkturquoise;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 50%;
}
.container-cart .container-total .total .item p {
  background-color: darkturquoise;
  font-size: 1.1rem;
}
.container-cart .container-total .total .item h3 {
  background-color: darkturquoise;
  font-size: 1.8rem;
}
.container-cart .container-total .total .item.p-total {
  border-top: solid;
}
.container-cart .container-total .total button {
  margin: 2rem;
  font-size: 1.4rem;
  color: Black;
  width: 15rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 3.5px 3px 12px black;
  transition: 0.4s ease-in-out;
}
.container-cart .container-total .total button:hover {
  background-color: rgba(0, 199, 0, 0.932);
  text-shadow: -3px 2px 4px black;
  color: white;
  height: 2.65rem;
}

.card {
  transition: 0.5s ease-in-out;
  max-width: 380px;
  max-height: 640px;
  padding: 2rem;
  margin-top: 3rem;
  background-color: Darkturquoise;
  border-radius: 20px;
  box-shadow: -11px 10px 5px 0px rgba(0, 0, 0, 0.37);
}
.card h3 {
  background-color: Darkturquoise;
}
.card img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.card .desc {
  margin-top: 2rem;
  font-size: smaller;
  background-color: Darkturquoise;
}
.card .desc p {
  background-color: Darkturquoise;
}
.card .card-footer {
  background-color: Darkturquoise;
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}
.card .card-footer .price {
  background-color: Darkturquoise;
}
.card .card-footer .btn-quit {
  width: 31px;
  height: 31px;
  border-radius: 18%;
  border: 0px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.card .card-footer .btn-quit i {
  font-size: xx-large;
  background-color: transparent;
  line-height: 29px;
}
.card .card-footer .btn-quit:hover {
  background-color: rgba(236, 17, 17, 0.945);
}
.card .card-footer .btn-quit:hover i {
  text-shadow: -3px 2px 4px black;
}
.card .card-footer .cant {
  background-color: Darkturquoise;
}
.card .card-footer .btn-add {
  width: 31px;
  height: 31px;
  border-radius: 18%;
  border: 0px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.card .card-footer .btn-add i {
  font-size: xx-large;
  background-color: transparent;
  line-height: 29px;
}
.card .card-footer .btn-add:hover {
  background-color: rgba(0, 199, 0, 0.932);
}
.card .card-footer .btn-add:hover i {
  text-shadow: -3px 2px 4px black;
}

.card:hover img {
  border-radius: 2%;
  box-shadow: 0px 0px 15px 4.5px;
}
.card:hover .desc {
  font-weight: 500;
}

.card-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 6rem;
  max-width: 95%;
  background-color: white;
  border-radius: 10px;
  box-shadow: -11px 10px 5px 0px rgba(0, 0, 0, 0.37);
  margin-left: 2%;
  border: solid 2px darkturquoise;
}
.card-cart h3 {
  background-color: white;
}
.card-cart img {
  width: 5.3rem;
  border-radius: 1rem;
}
.card-cart .desc {
  max-width: 50%;
  font-size: medium;
  background-color: white;
  border-left: solid 2px;
  padding-left: 2rem;
}
.card-cart .desc p {
  background-color: white;
  margin-bottom: 0;
}
.card-cart .card-footer {
  width: 15rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  border-left: solid 2px;
}
.card-cart .card-footer .price {
  background-color: white;
  font-size: 1.5rem;
  margin: 1rem;
}
.card-cart .card-footer .btn-quit {
  width: 31px;
  height: 31px;
  border-radius: 18%;
  border: 0px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.card-cart .card-footer .btn-quit i {
  font-size: xx-large;
  background-color: transparent;
  line-height: 29px;
}
.card-cart .card-footer .btn-quit:hover {
  background-color: rgba(236, 17, 17, 0.945);
}
.card-cart .card-footer .btn-quit:hover i {
  text-shadow: -3px 2px 4px black;
}
.card-cart .card-footer .cant {
  background-color: white;
  margin-bottom: 0;
}
.card-cart .card-footer .btn-add {
  width: 31px;
  height: 31px;
  border-radius: 18%;
  border: 0px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.card-cart .card-footer .btn-add i {
  font-size: xx-large;
  background-color: transparent;
  line-height: 29px;
}
.card-cart .card-footer .btn-add:hover {
  background-color: rgba(0, 199, 0, 0.932);
}
.card-cart .card-footer .btn-add:hover i {
  text-shadow: -3px 2px 4px black;
}

.cont-login {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
.cont-login .login h2 {
  font-size: 2.5rem;
  text-align: center;
}
.cont-login .login .form-login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2rem;
  margin-top: 1.5rem;
}
.cont-login .login .form-login label {
  font-size: 1.5rem;
  margin: 1.5rem;
}
.cont-login .login .form-login input {
  margin-bottom: 2.5rem;
  width: 22rem;
  height: 3rem;
  border-radius: 0.8rem;
  border-style: initial;
  background-color: aliceblue;
  text-indent: 1.2rem;
  font-size: 1rem;
}
.cont-login .login .form-login button {
  margin: 2rem;
  font-size: 1.2rem;
  color: white;
  width: 15rem;
  height: 2.5rem;
  background-color: blue;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 3.5px 3px 12px black;
}
.cont-login .login .form-login button:hover {
  background-color: rgb(40, 40, 255);
  box-shadow: 3.5px 3px 12px rgba(0, 0, 255, 0.788);
  color: white;
}
.cont-login .link-register {
  height: 15rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem;
  border-style: solid;
  border-radius: 2rem;
}
.cont-login .link-register p {
  font-size: 1.3rem;
  text-align: center;
  margin: 1.5rem;
}
.cont-login .link-register button {
  margin-top: 2rem;
  width: 20rem;
  height: 3rem;
  background-color: gainsboro;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 3.5px 3px 12px black;
}
.cont-login .link-register button a {
  font-size: 1.2rem;
  color: red;
  background-color: gainsboro;
  text-decoration: none;
}
.cont-login .link-register button:hover {
  background-color: gainsboro;
  box-shadow: 3.5px 3px 10px gray;
  color: white;
}
.cont-login .link-register button:hover a {
  font-weight: 500;
}

.cont-register {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
  height: 83.75vh;
}
.cont-register .register h2 {
  font-size: 2.5rem;
  text-align: center;
}
.cont-register .register .form-register {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2rem;
  margin-top: 1.5rem;
}
.cont-register .register .form-register label {
  font-size: 1.5rem;
}
.cont-register .register .form-register input {
  margin-bottom: 2.5rem;
  width: 22rem;
  height: 3rem;
  border-radius: 0.8rem;
  border-style: initial;
  background-color: aliceblue;
  text-indent: 1.2rem;
  font-size: 1rem;
}
.cont-register .register .form-register button {
  margin: 2rem;
  font-size: 1.2rem;
  color: white;
  width: 15rem;
  height: 2.5rem;
  background-color: blue;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 3.5px 3px 12px black;
}

.pie {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 1rem;
  padding-left: 5rem;
  background-color: black;
}
.pie .icon {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: black;
}
.pie .icon a {
  text-decoration: none;
  color: white;
}
.pie .icon a i {
  transition: 0.5s ease-in-out;
  background-color: black;
}
.pie .icon:hover a i {
  text-shadow: -7px 2px 3px rgb(255, 255, 255);
  color: white;
  font-size: 1.55rem;
}
.pie .wpp, .pie .insta, .pie .facebook {
  margin-left: 3rem;
}
.pie .derechos {
  margin-left: 7rem;
}

* {
  margin: 0;
  padding: 0;
  background-color: white;
}/*# sourceMappingURL=style.css.map */