//ENCABEZADO DE LA WEB
.head{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    background-color: black;
    //Panel con el logo   
    .panel{ 
        background-color: black; 
        display: flex;        
        justify-content: flex-end;        
        height: 3rem;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 1px;        
        .pan-links{
            background-color: black;
            display: flex;            
            list-style: none;                       
            padding-right: 3rem;                       
            .pan-item{
                background-color: black;
                align-content: center;                
                padding-right: 2rem;                                                             
                a{
                    background-color: black;
                    color: aqua;
                    font-size: 1.3rem;
                    text-decoration: none;
                    i{
                        background-color: black;
                    }                     
                }
            }
            .pan-item:hover{
                text-shadow:-3px 3px 2px gray; 
            }  
        }           
    }
    //Barra de navegacion    
    .navbar{
        display:flex;
        padding-left: 1rem;  
        background-color: rgb(156, 146, 146);      
        img{
            width: 80px;
            height: 80px;
            margin: 0.4rem;
            border-radius: 1.5rem;            
        }        
        .nav-links{
            display: flex;          
            align-items: center;             
            list-style: none;
            padding-left: 23rem;
            background-color: rgb(156, 146, 146);                                         
            .nav-item{   
                background-color: rgb(156, 146, 146);                                
                cursor:pointer;
                margin-right: 5rem;                              
                a{ 
                    background-color: rgb(156, 146, 146);                     
                    color:white;
                    text-decoration: none;
                    font-size: 1.7rem;                                                            
                }    
                                   
            }   
            .nav-item:hover{
                text-shadow:-3px 3px 2px black;                
            }       
        }        
    }
}